.turn{
    -fx-font-family: "Jersey 25";
    -fx-text-fill: white;
    -fx-font-size: 40px;
}
.turn-label{
    -fx-font-family: "Jersey 25";
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 30px;
}
.game-status-label {
    -fx-font-family: "Jersey 25";
    -fx-text-fill: rgb(255, 136, 136);
    -fx-font-size: 30px;
}

.game-background {
    -fx-background-color: #141414;
}

.coord-label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.board {
    -fx-border-color: #9b7454;
    -fx-border-width: 4;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.square-even { 
    -fx-cor-select: #73ff2271;
    -fx-cor-base: #f0d9b5; 
    -fx-background-color: -fx-cor-base; 
}
.square-odd { 
    -fx-cor-select: #73ff2271; 
    -fx-cor-base: #b58863; 
    -fx-background-color: -fx-cor-base; 
}

.possible-move {
    -fx-background-color: -fx-cor-base, #20202046;
    -fx-background-insets: 0, 40;
    -fx-background-radius: 0, 100;
}

.selectedSquare {
    -fx-background-color: -fx-cor-base, -fx-cor-select;
}

.possible-capture {
    -fx-background-color: -fx-cor-base, #0000005e, -fx-cor-base;
    -fx-background-insets: 0, 5, 12;
    -fx-background-radius: 0, 100, 100;
}

.check-square {
    -fx-background-color: #fe7878;
}

.checkmate-square {
    -fx-background-color: #ff4141;
}

.sidebar {
    -fx-padding: 40 20 20 20;
}